.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 30%);
  color: #fff;
  margin: 20px auto;
  background-color: #333;
  padding: 0px 20px 20px 20px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}
.weather-description {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  /* margin: 0; */
}
.weather-icon {
  width: 100px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.temperature {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -5px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

.details {
  /* width: 100%; */
  flex-grow: 2;
}
.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}
.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
.parameter-label.top {
  justify-self: center;
}
